///////////////////////////
//LOGO

.logo {
  height: 3.25rem;
  margin: 3rem;
}

///////////////////////////
//SEARCH

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-gray-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.5rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-gray-light-3);
    }
    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-gray-dark-4);
      font-size: inherit;
    }
  }

  &__input:focus + button {
    background-color: var(--color-gray-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-gray-light-2);

    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(2px);
    }
  }
  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-gray-dark-3);
  }
}

///////////////////////////
//USER NAVIGATION

.user-nav {
  //   background-color: yellow;
  align-self: stretch;

  display: flex;
  justify-content: center;
  align-items: center;

  & > * {
    padding: 0.5rem 1rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-gray-light-2);
  }

  &__icon-box {
    display: flex;
    align-items: center;
    position: relative;
  }
  &__icon {
    height: 3.25rem;
    width: 3.25rem;
    fill: var(--color-gray-dark-2);
  }
  &__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1rem;
    right: 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

//////////////////////////////////
// SIDE_ NAVIGATION

.side-nav {
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__link {
    flex: 0 0 20%;
  }
  &__icon {
    height: 1.75rem;
    width: 1.75rem;
  }
}

//////////////////////////////////
// LEGAL TEXT

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;
}
